@page  "{id}"
@model Validation.Pages.StudentDetailsModel
@{
    ViewData["Title"] = "StudentDetails";
}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Number of Modules</th>
            <th>Height (cm)</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Student.StudentID</td>
            <td>@Model.Student.FirstName</td>
            <td>@Model.Student.LastName</td>
            <td>@Model.Student.DOB</td>
            <td>@Model.Student.NrModules</td>
            <td>@Model.Student.Height</td>
            <td>@Model.Student.Email</td>
            <td>@Model.Student.EmailConfirm</td>
        </tr>
        }
    </tbody>
</table>

<form class=form-group method="post">
    <div class="col-sm-2 control-label">
        <input type="hidden" asp-for=Student.StudentID>
        <button type="submit">Confirm Delete</button>
    </div>
</form>

@*<div class="form-group">
    <div class="col-sm-2 control-label">
        <button class="btn btn-default" type="submit">Press Me</button>
    </div>
</div>*@
